{{!< layout}}
<header class="aui-page-header">
    <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Customer contacts for project {{projectKey}}</h1>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
            <form onclick="return false;" class="aui">
                <div class="field-group">
                    <label for="name">Name<span class="aui-icon icon-required">required</span></label>
                    <input id="name" class="text" type="text" name="name" value="{{contact.name}}">
                </div>
                <div class="field-group">
                    <label for="email">Email<span class="aui-icon icon-required">required</span></label>
                    <input id="email" class="text" type="text" name="email" value="{{contact.email}}">
                </div>
                <div class="field-group">
                    <label for="organisation">Organisation</label>
                    <input id="organisation" class="text" type="text" name="organisation" value="{{contact.organisation}}">
                    <div class="description">Address or name of the organisation or it's branch contact person works in</div>
                </div>
                <div class="field-group">
                    <label for="roleInSoftware">Role in process</label>
                    <input id="roleInSoftware" class="text" type="text" name="roleInSoftware" value="{{contact.roleInSoftware}}">
                    <div class="description">The role of this person in current project's process</div>
                </div>
                
                <div class="buttons-container">
                    <div class="buttons">
                        <button id="store-contacts" class="aui-button aui-button-primary">Store contact</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </section>
  </div>
</div>